* {
    margin: 0;
    padding: 0;
    
}
header {
    background-color: rgba(173, 216, 230, 0.2);
    height:90px;
    width:100%;
}



.logo h1 {
    color: navy;
    float: left;
    font-size: 40px;
    padding: 0 10px;
    margin-left: 3px;
    text-shadow: 2px 2px 5px rgba(255, 100, 0, 0.6);

}

.logo img {
    border-radius: 20%;
    width: 50px;
    float: left;
    padding: 5px;
    
}

.logo img:hover{
    transform: scale(5);
    position: absolute;
    top: 10%;
    left: 30%;
}

.search {
    float:right;
    margin-right: 10px;
    margin-top: 20px;
}

#search_input {
    font-size: 15px;
    padding: 6px;
    color:black;
    width:150px;
    border: 1px solid #111111;
    margin-top: 5px;
    border-radius: 5px;
    outline: none;
}

#search-button {
    padding: 5px 10px;
    background-color: lightblue;
    border-radius: 5px;
    cursor:pointer;
}

#search-button:hover {
    color: aliceblue;
    background-color: blue;
}

nav {
    height: 35px;
    width: 100%;
    background-color: lavender;
    border-bottom:3px solid #dbdadf;
}

.social ul {
    list-style: none;
    margin-left: 20px; 
}

.social ul li {
    float:right;
    padding:5px 10px;
    margin-top: 5px;
}

.social ul li a {
    color:rgb(87, 86, 86) 
}

.social ul li a :hover {
    color: #0f74f5;
}

.section ul {
    list-style: none;
}

.section ul li {
    float:left;
    padding:5px 3px;
    margin-left: 5px;
}

.section ul li a {
    text-decoration: none;
    font-size: 20px;
    color:black;
    padding: 5px 3px;
    border-radius: 5px;
}

.section ul li a:hover {
    background-color:#0f74f5;
    color:white;
}

.last-post {
    width: 100%;
    height: 50px;
    background-color: #f8f7f8;
    border:4px solid white;

}

.last-post h4 {
    float:right;
    color: #080808;
    font-size: 20px;
    padding: 5px;
    margin-left: 5px;
}

.last-post ul {
    list-style: none;
    margin: 2px;
    padding: 3px;
}

.last-post .span-img img {
    float: right;
    width: 30px;
    height: 30px;
    margin-left: 10px;
    border-radius: 50%;
}

.cart ul {
    list-style: none;
    margin: 0;
    padding: 0;

}

.cart ul li {
    display: inline-block;
    margin-left: 15px;
    padding: 2px;
    font-size: 25px;
}

.cart ul li a i{
    color: #080808;

}

.cart ul li a i:hover {
    color: #0f74f5;
}

.cart-icon {
    position: relative;
    display: inline-block;
}

.cart-count {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: RED;
    border-radius: 50%;
    color:white;
    padding: 4px 6px ;
    font-size: 12px;
}


/* Start product */

main {
    display: flex;
    flex-wrap: wrap;

}

main a {
    text-decoration: none;
}
.product {
    margin: 10px;
    padding-top: 50px;
    padding: 20px;
    width: 200px;
    border: 1px solid;
    box-shadow: 0 5px 10px green;
    margin-bottom: 40px;
    position: relative;
}
.product a{
    color: #080808;
    font-size: 15px;
    font-weight: bold;
    margin: 4px;
}

.product-img {
    width: 180px;
    height: 200px;
    text-align: center;
    border-radius: 30px;
}

.product-img:hover {
    opacity: 50%;

}

.product-section {
    margin-top: 5px;
    background-color: #cceeee;
    float: right;
    border: 3px solid #ccc;
    box-shadow: 0 0 10px rgb(0,0,0,1);
   
}

/* product-name */

.product-name {
    margin-top: 15px;
    text-align: center;
}

.product-price {
    text-align: center;
    margin-top: 5px;
}

.product-price a {
    color:red;
    font-size: 18px;
    font-weight: bold;
}

.description {
    text-align: center;
}

.description i {
    margin: 5px;
    color: blue;
}

.qty-input {
    text-align: center;
    margin: 18px;

}

.qty-mins ,.qty-add {
    background-color: #ccc;
    border: none;
    padding: 5px 10px;
    margin-right: 5px;
}

input[type=number] {
    font-size: 16px;
    color: #333;
    border: 1px solid #ccc;
    padding: 4px;
    text-align: center;
}

.add-to-cart {
    width: 100%;
    height: 35px;
    background-color: #007bFf;
    margin-top: 10px;
    padding: 10px 20px;
    cursor: pointer;
}

.add-to-cart:hover {
    background-color: #011c38;

}

.unavilbale {
    position: absolute;
    top: 20px;
    left: 15px;
    transform: rotate(-25deg);
    width: 100px;
    text-align: center;
    font-size:18px;
    font-weight: bold;
    color: black;
    background-color: red;
    padding: 5px 5px;
    border: 1px solid ;
}